<div class="container" style="margin: 1% auto;">
    <div class="row">
        <div class="col-2 text-center" style="margin: 2% auto;">
            <a class="btn btn-danger tablas" href="/admin/tablas" role="button">SECCION TABLAS</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center" style="margin: 2% auto;">
            <a class="btn btn-danger noticias" href="/admin/noticias" role="button">SECCION NOTICIAS</a>
        </div>
    </div>
</div>